* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.header_container{
    background-color: #0084FD;
    margin-bottom: 30px;
}

.header_nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header_nav_desktop{
    display: none;
}


nav> ol> li{
    display: inline-block;
    margin-right: 20px;
}

nav> ol> li> a{
    text-decoration: none;
    color: white;
}

.botton {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}

.botton> a {
    color: black;
    text-decoration: none;

}

img {
    width: 100%;
}

.row> .column> div> i{
    font-size: 60px;
    margin-bottom: 20px;
}

.row> .column> div> h4{
    font-size: 20px;
    color: #0084FD;
    margin-bottom: 20px;
}

.row> .column> div> p{
    font-size: 20px;
    color: grey;
    margin-bottom: 20px;
}

.column{
    background-color: #B5DDFF;
    border-radius: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#withoutbottompadding{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.withpadding{
    padding: 20px;
}

#blue{
    background-color: #0084FD;
    color: white;
}

#blue> a{
    color: white;
}


.imgcellular{
    margin-top: 20px;
}

.main_container{
    background-color: #9792E4;
}

.card{
    padding: 30px;
    margin-bottom: 30px;
    color: white;
    text-align: left;
}

.whitecard{
    background-color: white;
    border-radius: 40px;
    color: black;
    text-align: center;
}

.card> *, .card_profile_description> *{
    margin-bottom: 20px;
}

.arrowdownbotton{
    background-color: #9792E4;
    width: 50px;
    height:50px;
    border-radius: 25px 25px;
    line-height: 50px;
    display: inline-block;
}

.introduction_partners> *{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.introduction_partners> h2{
    color: #9792E4;
    font-size: 2em;
}

.partners_card> * , .cardprofile> *{
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.circleimg> img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cardprofile{
    background-color: #9792E4;
    border-radius: 30px;
    padding: 30PX;
    margin-bottom: 20px;
    color: white;
}

.benefits_cards, .container_profiles, .cards{
    padding: 20px;
}

.second_section> h2 {
    color: white;
    text-align: center;
    padding: 20px;
}

.benefits_card{
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main_container> .container> h2{
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.benefits_card> h2, .benefits_card> h3{
    color: #9792E4;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.benefits_card> *{
    margin-bottom: 20px;
}

#buttonpurple{
    background-color: #9792E4;
    color: white;
    display: inline-block;
}

#buttonpurpleinverted{
    background-color: white;
    color: #9792E4;
    display: inline-block;
    text-align: center;
}

.container_aboutus{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.container_aboutus> *{
    margin-bottom: 30px;
}

.aboutus_left> h3{
    color: #9792E4;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.aboutus_right> h3{
    color: #9792E4;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.virgolette{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #9792E4;
    font-size: 10em;
}

#imgvirgolette{
    position: relative;
    display: inline-block;
}

.footer_top{
    text-align: center;
    padding: 20px;
    color: white;
}

.footer_top> h3, .benefits_card> h2{
    font-size: 2.5em;
}

.footer_top> *{
    margin-bottom: 20px;
}

.footer_bottom{
    background-color: #333333;
    padding: 20px;
    color: white;
    text-align: center;
}

.footer_bottom> .container> *{
    margin-bottom: 20px;
}

#purplelink{
    color: #9792E4;
    display: inline-block;
}

#whitelink{
    color: white;
}

#yellowtitle{
    font-size: 2.5em;
    color:#FDC15F;
}


{}





/* responsive tablet*/

@media screen and (min-width: 768px){

    .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-right: -10px; 
        margin-left: -10px; 
        margin-bottom: 30px;
    }
    
    .column{
        background-color: #B5DDFF;
        border-radius: 30px;
        margin-right: 10px; 
        margin-left: 10px; 
        margin-bottom: 10px;
        width: calc(100% / 3 - 20px); 
        text-align: center;
    }
    
    .double_column{
        width: calc((100% / 3 - 10px) * 2); 
        text-align: left; 
    }

    .cardprofile{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin-bottom: 30px;
    }

    .cardprofile> *{
        text-align: left;
        }
    
    .benefits_cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .benefits_card{
        width: calc(100% / 2 - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
    }
    
    .container_aboutus{
        display: flex;
        justify-content: space-between;
    }

    .aboutus_left> * , .aboutus_right> * {
        margin-bottom: 20px;    
    }

    .aboutus_right{
        margin-left: 30px;
    }

    
}

/* responsive desktop */

@media screen and (min-width: 992px){
    .header_nav_desktop{
        display: block;
    }
    
    .hamburger_menu{
        display: none;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 30px;
    }
    
    .column{
        background-color: #B5DDFF;
        border-radius: 30px;
        margin-right: 10px; 
        margin-left: 10px; 
        margin-bottom: 20px;
        width: calc(100% / 3 - 20px); 
        text-align: center;
    }
    
    .double_column{
        display: flex;
        width: calc((100% / 3 - 10px) * 2);
        text-align: left; 
    }

    .left_double_column{
        width: 60%;
    }
    
    .right_double_column{
        width: 40%;
        display: flex;
        align-items: flex-end;
    }


    .cards{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-left: 40px;
        margin-right: 40px;
        padding: 40px;
    }

    .cardleft{
        width: 60%;
        margin-top: 30px;
    }

    .cardleft> *{
        margin-bottom: 40px;   
    }

    .cardright{
        width: 40%;
    }

    .cardprofile{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin-bottom: 30px;
    }

    .cardprofile> *{
        text-align: left;
    }

    .benefits_cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefits_card{
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .container_aboutus{
        display: flex;
        justify-content: space-between;
    }

    .container_aboutus> *{
        margin-bottom: 20px;    
    }

    .aboutus_left> * , .aboutus_right> * {
        margin-bottom: 20px;    
    }

    .aboutus_right{
        margin-left: 30px;
    }




}
